<div class="container-fluid">
    <div class="row" *ngIf="items && items.length > 0">
        <div class="col-lg-4" *ngFor="let item of items">
            <div class="card">
                <img class="card-img-top" src="{{ item.image }}" alt="Card image cap">
                <div class="card-body">
                    <h4>{{ item.title }}</h4>
                    <h5>{{ item.cuisine }}</h5>
                    <div>
                        <h5 class="price">{{ item.price | number: '.2' | currency }}</h5>
                        <button class="btn btn-secondary add" (click)="addToBag(item)">add to bag</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!items || items.length == 0">
        <h5>Sorry, we have no such food :(</h5>
    </div>
</div>