<nav class="navbar navbar-light bg-light">
  <div class="navbar-conteudo">
    <input
      #inputSearch
      class="form-control mr-sm-2"
      type="search"
      (search)="search(inputSearch.value)"
      placeholder="Search"
      aria-label="Search"
    />
    <ul class="list-group list-group-horizontal">
      <figure class="figure" (click)="filterCuisine()">
        <img src="assets/img/all.svg" class="figure-img img-fluid rounded" />
        <figcaption class="figlabel">all</figcaption>
      </figure>
      <figure class="figure" (click)="filterCuisine('chinese')">
        <img
          src="assets/img/chinese-food.svg"
          class="figure-img img-fluid rounded"
        />
        <figcaption class="figlabel">Chinese</figcaption>
      </figure>
      <figure class="figure" (click)="filterCuisine('burgers')">
        <img
          src="assets/img/hamburger.svg"
          class="figure-img img-fluid rounded"
        />
        <figcaption class="figlabel">Burgers</figcaption>
      </figure>
      <figure class="figure" (click)="filterCuisine('salad')">
        <img src="assets/img/diet.svg" class="figure-img img-fluid rounded" />
        <figcaption class="figlabel">Salad</figcaption>
      </figure>
      <figure class="figure" (click)="filterCuisine('cake')">
        <img src="assets/img/cake.svg" class="figure-img img-fluid rounded" />
        <figcaption class="figlabel">Cake</figcaption>
      </figure>
      <figure class="figure" (click)="filterCuisine('pizza')">
        <img src="assets/img/pizza.svg" class="figure-img img-fluid rounded" />
        <figcaption class="figlabel">Pizza</figcaption>
      </figure>
    </ul>
  </div>
</nav>
