<div class="card">
    <div class="card-header">
        Checkout
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <div *ngFor="let item of items" class="row">
            <div class="col-4">
                {{ item.food.title }}
            </div>
            <div class="col-3">
                {{ item.food.price | number: '.2' | currency }}
            </div>
            <div class="col-2">
                {{ item.amount + "x" }}
            </div>
            <div class="col-3">
                {{ item.food.price * item.amount | number: '.2' | currency }}
            </div>
        </div>
        <hr />
        <div class="row justify-content-end">
            <div class="col-7">
                Total
            </div>
            <div class="col-3">
                {{ total | number: '.2'| currency }}
            </div>
        </div>

    </div>
</div>